<section class="contenitoreRegistrazione">
    <div class="credenzialiRegistrazione">
        <p class="formTitle">Registrati</p>
        <div class="contenitoreForm">
            <form class="formRegistrazione" (ngSubmit)="onSubmit(form)" #form="ngForm">
                <mat-form-field class="campoStondato">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" name="nome" [(ngModel)]="utente.nome" required  pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]+$" #nome="ngModel" placeholder="Nome">
                    <mat-error *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                        Inserisci solo lettere
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field class="campoStondato">
                    <mat-label>Cognome</mat-label>
                    <input matInput type="text" name="cognome" [(ngModel)]="utente.cognome" required pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]+$" #cognome="ngModel" placeholder="Cognome">
                    <mat-error *ngIf="cognome.invalid && (cognome.dirty || cognome.touched)">
                        Inserisci solo lettere
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="campoStondato">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" name="username" [(ngModel)]="utente.username" pattern="^[a-zA-Z0-9_.\-]+$" required #username="ngModel" placeholder="Username">
                    <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                        Inserisci solo lettere, numeri, . _ -
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="campoStondato">
                    <mat-label>
                        <i class="bi bi-envelope"></i>
                        Email
                    </mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="utente.email" required email #email="ngModel" placeholder="Email">
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                        Inserisci una email valida
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="campoStondato">
                <mat-label>
                    <i class="bi bi-lock-fill"></i>
                    Password
                </mat-label>
                <input matInput type="password" name="password" [(ngModel)]="this.password.pass" required minlength="6" #passwordModel="ngModel" placeholder="Password">
                <mat-error *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)">
                    Password troppo corta (min 6 caratteri)
                </mat-error>
                </mat-form-field>

                <mat-form-field class="campoStondato">
                <mat-label>
                    <i class="bi bi-lock-fill"></i>
                    Conferma password
                </mat-label>
                <input matInput type="password" name="confermaPassword" [(ngModel)]="password.confPass" required minlength="6" #confermaModel="ngModel" placeholder="Conferma password">
                <mat-error *ngIf="confermaModel.invalid && (confermaModel.dirty || confermaModel.touched)">
                    Password troppo corta (min 6 caratteri)
                </mat-error>
                </mat-form-field>

                <button mat-flat-button class="button" [disabled]="controllaCampiForm()" color="primary">Salva</button>
            </form>
        </div>
        <div class="errore">
            <p *ngIf="erroreCredenziali">{{ erroreCredenziali }}</p>
            <p *ngIf="erroreGenerico">{{ erroreGenerico }}</p>
        </div>

        <p class="scrittaAccedi">
            Hai già un account?<a mat-button class="linkAccedi" routerLink="/login"><strong>ACCEDI</strong></a>
        </p>
    </div>
</section>
