.contenitoreRegistrazione{
  height: 33em;
  width: 32em;
  display: flex;
  flex-direction: column;
  padding-top: 3em; 
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.credenzialiRegistrazione{
  display: flex;
  flex-direction: column;
  padding-top: 4em; 
  align-items: center;
  background-color: lightgrey;
  width: 100%;
  border-radius: 45px;
}

.formTitle{
  font-size: 2em;
  padding-bottom: 1em;
}

.contenitoreForm{
  display: flex; 
  flex-direction: row;
  gap: 1em;
}

.formRegistrazione {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 20em;
  width: 100%;
}

.button {
  align-self: center;
  min-width: 9em;
  border-radius: 1em;
  padding: 1.5em;
}

.errore{
    font-size: large;
    color: red;
    margin-top: 1em;
}

.scrittaAccedi{
  margin-top: 2em;
  /*color: white;*/
}

.linkAccedi{
  /*color: white;*/
  text-decoration: underline;
}

