<section class="sezionePrincipale">
    <div class="contenitoreTitolo">
        <h1 class="titoloHomePage">L'AVVENTURA</h1>
        <h1 class="titoloHomePage">INIZIA QUI.</h1>
        <p class="sottoTitolo">Il posto ideale per chi ama camminare, esplorare, conoscere nuove persone e creare nuovi ricordi.</p>
        <div class="contenitoreScopriTrekking">
            <button mat-raised-button  routerLink="/trekking" class="btn-scopriTrekking">Scopri tutti i trekking</button>
        </div>
    </div>
    <div class="contenioreCerchi">
        <div class="prova">
            <div class="itemCerchio">
                <div class="cerchio">
                    <img src="../../../assets/Immagini/hiking.png" alt="Hiking" class="iconaHiking">
                </div>
                <div class="etichetta">HIKING</div>
            </div>
            <div class="itemCerchio">
                <div class="cerchio">
                    <img src="../../../assets/Immagini/trekking.png" alt="Hiking" class="iconaTrekking">
                </div>
                <span class="etichetta">TREKKING</span>
            </div>
            <div class="itemCerchio">
                <div class="cerchio">
                    <img src="../../../assets/Immagini/Climbing.png" alt="Hiking" class="iconaClimbing">
                </div>
                <span class="etichetta">CLIMBING</span>
            </div>
        </div>
    </div>
</section>
