<section *ngIf="!utenteLoggato" class="errore-login">
  <div class="errore-container">
    <h2 class="errore-title">Accesso richiesto</h2>
    <p class="errore-message">Per accedere a questa pagina devi prima effettuare il login.</p>
    <button class="errore-button" (click)="vaiALogin()">Login</button>
  </div>
</section>




<section *ngIf="utenteLoggato" class="sezioneTreking">
  <div class="contenitoreTreking">

    <!-- Colonna sinistra -->
    <div class="colonnaLateraleSx">
      <nav class="menuLaterale">
          <a routerLink="/trekking/visualizzaTuttiTrekking" routerLinkActive="attivo" (click)="visualizzaBottNav=false">
            <i class="bi bi-binoculars"></i> Partecipa ad un trekking
          </a>
          <a routerLink="/trekking/visualizzaPostPubblicati" routerLinkActive="attivo" (click)="visualizzaBottNav=true">
            <i class="bi bi-send"></i> I tuoi trekking pubblicati
          </a>
          <a routerLink="/trekking/prenotazioni" routerLinkActive="attivo" (click)="visualizzaBottNav=false">
            <i class="bi bi-calendar-check"></i> Le tue prenotazioni
          </a>
      </nav>
    </div>

    <!-- Colonna centrale -->
    <div class="colonnaCentrale">
      <div class="navigazionePost" *ngIf="visualizzaBottNav">
          <button mat-flat-button class="buttonCambia" routerLink="/trekking/visualizzaPostPubblicati" color="primary">Visualizza</button>
          <button mat-flat-button class="buttonCambia" routerLink="/trekking/aggiungi" color="primary">Aggiungi</button>
      </div>
      <div class="contenutoTrekking">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Colonna destra -->
    <div class="colonnaLateraleDx">
    </div>

  </div>
</section>
