<section *ngIf="!utenteLoggato" class="errore-login">
  <mat-card>
    <mat-card-content>
      <p>Devi prima loggarti per accedere a questa pagina.</p>
      <p>Effettua qui il <button mat-button color="accent" (click)="vaiALogin()">Login</button></p>
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="utenteLoggato" class="sezioneTreking">
  <div class="contenitoreTreking">

    <!-- Colonna sinistra -->
    <div class="colonnaLaterale sinistra">
      <ul>
        <li><a routerLink="/trekking/visualizzaPostPubblicati" (click)="visualizzaBottNav=true">I tuoi treking</a></li>
        <li><a>aaaaaa</a></li>
        <li><a>bbbbbb</a></li>
        <li><a>cccccc</a></li>
      </ul>
    </div>

    <!-- Colonna centrale -->
    <div class="colonnaCentrale">
      <div class="navigazionePost" *ngIf="visualizzaBottNav">
          <button mat-flat-button class="buttonCambia" routerLink="/trekking/visualizzaPostPubblicati" color="primary">Visualizza</button>
          <button mat-flat-button class="buttonCambia" routerLink="/trekking/aggiungi" color="primary">Aggiungi</button>
      </div>
      <div class="contenutoTrekking">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Colonna destra -->
    <div class="colonnaLaterale destra">
      <!-- eventualmente metti altro qui -->
    </div>

  </div>
</section>
