.contenitoreRegistrazione {
  position: relative;
  height: auto;
  width: 60em;
  padding-bottom: 3em;
  display: flex;
  margin: 3em auto;
  background-color: lightgray;
  border-radius: 30px;
}
.credenzialiRegistrazione {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formTitle {
  font-size: 3em;
  padding-bottom: 1em;
  color: black;
  margin: 0 auto;
}

.contenitoreCredenziali {
  align-self: flex-start;
}

.button {
  align-self: center;
  min-width: 9em;
  border-radius: 1em;
  padding: 1.5em;
}

.contenitoreForm {
  margin: auto;
}

.formRegistrazione {
  display: flex;
  flex-direction: column;
  min-width: 40em;
  width: 70%;
}

.row {
  display: flex;
  gap: 1.5em;
}

.half-width {
  flex: 1; /* Ogni campo prende metà larghezza disponibile */
  min-width: 0; /* per prevenire overflow */
}

.errore {
  align-self: center;
  font-size: large;
  color: red;
  margin-top: 1em;
}

.sezioneCredenziali {
  margin-bottom: 3em;
  padding: 2.5em;
  border: 1px solid gray;
  border-radius: 30px;
}

.tornaVisDettagli {
  position: absolute;
  margin-left: 1.7em;

  text-decoration: underline;
  font-size: 1.7em;
  border-radius: 1em;
}

.titleModCred {
  font-size: 1.5em;
}
