/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
  margin: 0;
  padding: 0;
  height: 100%; 
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body { margin: 0;}

html, body, app-root, * {
  font-family: 'Poppins', sans-serif !important;
}

.campoStondato .mat-mdc-text-field-wrapper {
  border-radius: 20px;
  background-color: white;
  border: 1px solid #ccc;
}

/* Per l'input interno */
.campoStondato .mat-mdc-text-field-input {
  border-radius: 20px;
  background-color: transparent;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

