<section class="filtri-trekking">
  <mat-form-field>
    <mat-label>Testo</mat-label>
    <input matInput [(ngModel)]="filtro.testo" placeholder="Titolo, luogo...">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data da</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="filtro.dataDa">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Difficoltà max</mat-label>
    <input matInput type="number" [(ngModel)]="filtro.difficoltaMax">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Durata max (ore)</mat-label>
    <input matInput type="number" [(ngModel)]="filtro.durataMax">
  </mat-form-field>
</section>

<section>
      <div class="contenitore-messaggio">
        <div *ngIf="messaggioIscrizioneTrekking" class="messaggio-successo">
            {{ messaggioIscrizioneTrekking }}
        </div>
    </div>
    <div class="container-trekking">
        <div *ngFor="let trekking of filtraTrekking()" class="singolo-trekking">
            <h3>{{ trekking.titolo }}</h3>
            <p><strong>Descrizione:</strong> {{ trekking.descrizione }}</p>
            <p><strong>Data:</strong> {{ trekking.data | date:'dd/MM/yyyy' }}</p>
            <p><strong>Orario:</strong> {{ trekking.orario }}</p>
            <p><strong>Luogo:</strong> {{ trekking.luogo }}</p>
            <p><strong>Punto Partenza:</strong> {{ trekking.puntoPartenza }}</p>
            <p><strong>Difficoltà:</strong> {{ trekking.difficolta }}</p>
            <p><strong>Durata Ore:</strong> {{ trekking.durataOre }}</p>
            <div class="ContenitoreBottonePostSingolo">
                <button mat-flat-button  (click)="apriPopupPrenotazione(trekking.id)" class="bottoneAggiungiti">Aggiungiti</button>
            </div>
        </div>
    </div>
    <div *ngIf="mostraAvvisoConferma" class="aggiungitiPopupOverlay">
      <div class="aggiungitiPopup">
          <p>Vuoi confermare la prenotazione?</p>
          <button mat-button color="primary" (click)="aggiungitiAllUscita()">Sì</button>
          <button mat-button (click)="mostraAvvisoConferma = false">No</button>
      </div>
  </div>
</section>

