.container-trekking {
  display: flex;
  flex-wrap: wrap;  
  gap: 16px;        
  justify-content: center; 

}

.singolo-trekking {
  border: 1px solid black;
  color: white;
  padding: 12px;
  border-radius: 8px;
  width: 300px;     
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  z-index: 100;
}

.contenitore-messaggio {
  display: flex;
  justify-content: center;  
  margin-bottom: 30px;
}

.messaggio-successo {
  background-color: #e0ffe0;
  color: #2e7d32;
  padding: 10px 20px;
  border-radius: 13px;
  text-align: center;
  white-space: nowrap;       
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}