<section class="contenitoreLogin"> 
  <div class="overlay"></div>
    <div class="credenzialiLogin">
      <p class="formTitle"><strong>Accedi</strong></p>

      <div *ngIf="messaggioRegistrazione" class="messaggio-successo">
        {{ messaggioRegistrazione }}
      </div>
      
      <div class="contenitoreForm">
        <form class="formLogin" (ngSubmit)="onSubmit()" #form="ngForm">
          <mat-form-field class="campoStondato" >
            <mat-label>
              <i class="bi bi-envelope"></i>
              Email
            </mat-label>
            <input matInput type="email" name="email" [(ngModel)]="utente.email" required email #email="ngModel" placeholder="Email">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              Inserisci una email valida
            </mat-error>
          </mat-form-field>

          <mat-form-field class="campoStondato">
            <mat-label>
              <i class="bi bi-lock-fill"></i>
              Password
            </mat-label>
            <input matInput type="password" name="password" [(ngModel)]="utente.password" required #password="ngModel" placeholder="Password">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
              Inserisci la password
            </mat-error>
          </mat-form-field>

          <button mat-flat-button class="button" [disabled]="controllaCampiForm()">Accedi</button>
        </form>
      </div>

      <div class="errore">
        <p *ngIf="erroreEmailPass">{{ erroreEmailPass }}</p>
        <p *ngIf="erroreGenerico">{{ erroreGenerico }}</p>
      </div>

      <p class="scrittaRegistrati">
        Non hai ancora un account?<a mat-button class="linkRegistrati" routerLink="/registrazione"><strong>REGISTRATI</strong></a>
      </p>
    </div>
</section>

        
