
/****************************
          TOOLBAR
****************************/
.toolbar {
  background-color: #607D8B;
  color: white;
  padding: 0 16px;
  position: relative; 
}

.toolbar::before {
  content: "";
  position: absolute;
  left: 400px; 
  right: 125px; 

  background-image: url('/assets/Immagini/Montagnestilizzate.png');
  height: 3.5em;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: left;

  opacity: 0.08;
  z-index: 0; /* Sfondo, dietro al contenuto */
  pointer-events: none; /* Non cliccabile */
}

.immagineToolbar{
  height: 7.5em;  
}

.toolbar a{
  font-size: 0.9em;
  margin-right: 10px;
}

.toolbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid white;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2);
}

.spacer {
  flex: 1 1 auto;
}

.toolbar button[mat-raised-button] {
  border-radius: 20px;
  background-color: #ECEFF1;
}


/****************************
          CONTENUTO
****************************/
.contenuto{
  height: 100%;
}