<section>
    <mat-toolbar class="toolbar">
      <div class="toolbar-left">
          <img src="../assets/Immagini/TRAILWAY.png" class="immagineToolbar" alt="Logo">
      </div>

      <div class="toolbar-center">
          <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">Home</a>
          <a routerLink="/trekking" routerLinkActive="active-link">Trekking</a>
      </div>

      <div class="toolbar-right">
          <span *ngIf="utente.username">
              <button class="bottoneMenu" [matMenuTriggerFor]="menu">
                <span class="iconaUtente"><i class="bi bi-person"></i></span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/modificaCredenziali">
                  <mat-icon><i class="bi bi-pencil-fill"></i></mat-icon>
                  Modifica account
                </button>
                <button mat-menu-item (click)="showLogoutConfirm = true">
                    <mat-icon><i class="bi bi-box-arrow-right"></i></mat-icon>         
                    Esci
                </button>
              </mat-menu>
            </span>

          <button *ngIf="!utente.username" mat-raised-button  routerLink="/login" class="btn-trasparente">Accedi</button>
          <!--<button *ngIf="utente.username" mat-raised-button  (click)="showLogoutConfirm = true" class="btn-trasparente">Esci</button>-->
      </div>
    </mat-toolbar>

    <div *ngIf="showLogoutConfirm" class="logout-popup-overlay">
      <div class="logout-popup">
        <p>Sei sicuro di voler uscire?</p>
        <button mat-button color="warn" (click)="logout()">Sì</button>
        <button mat-button (click)="showLogoutConfirm = false">No</button>
      </div>
    </div>

    <div class="sfondo  ">
        <div class="overlay">
          <p class="coordinateN">46°17′52.9″ N</p>
          <p class="coordinateE">11°47′19.2″ E</p>
          <div class="contenuto" style="padding: 16px;">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
</section>
  
<app-footer></app-footer>
