
<mat-toolbar class="navbar">
  <img src="assets/Immagini/trekking-montagne-pini-adesivo-prespaziato.jpg" class="immagineToolbar" alt="Logo">
  <a mat-button routerLink="/home">🏠 Home</a>
  <a mat-button routerLink="/trekking">🥾 Trekking</a>
  <span class="spacer"></span>
   <span *ngIf="userLogged">{{ userLogged }}</span>
  <button *ngIf="!userLogged" mat-raised-button  routerLink="/login">Accedi</button>
  <button *ngIf="userLogged" mat-raised-button  (click)="logout()">Esci</button>
</mat-toolbar>


 <div style="padding: 16px;">
  <router-outlet></router-outlet>
</div>