

/****************************
          TOOLBAR
****************************/
.toolbar {
  background-color: #607D8B;
  color: white;
  padding: 0 16px;
  position: relative; 
}

.toolbar::before {
  content: "";
  position: absolute;
  left: 350px; 
  right: 160px; 

  background-image: url('/assets/Immagini/Montagnestilizzate.png');
  height: 3.5em;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: left;

  opacity: 0.08;
  z-index: 0; /* Sfondo, dietro al contenuto */
  pointer-events: none; /* Non cliccabile */
}

.immagineToolbar{
  height: 7.5em;  
}

.toolbar a{
  font-size: 0.9em;
  margin-right: 10px;
}

.toolbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid white;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2);
}

.spacer {
  flex: 1 1 auto;
}

.toolbar button[mat-raised-button] {
  border-radius: 20px;
  background-color: #ECEFF1;
}

.bottoneMenu {
  background: none !important;    /* nessuno sfondo */
  border: none;
  border-radius: 5em;
  cursor: pointer;
  color: white;
}

.iconaUtente{
  font-size: 3.2em;
}

.bi-box-arrow-right{
  color: red;
}

.bi-pencil-fill{
  color: grey;
}




/****************************
          CONTENUTO
****************************/
.sfondo {
  position: relative;
  height: 100vh;
  /*background-image: url('../assets/Immagini/sfondoMontagne.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenuto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Bianco con trasparenza */
  z-index: 1;
}

/* Gli altri contenuti devono stare sopra l'overlay */
router-outlet, .contenuto {
  position: relative;
  z-index: 2;
}



/****************************
      LOGOUT POPUP
****************************/

.logout-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.logout-popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 250px;
  text-align: center;
}